/* @media (prefers-color-scheme: light) { } */

/* General */
body {
    background-color: #F2F6FD;
    color: #707577;
}

h1 {
    color: #363636;
}

h2 {
    color: #053B62;
}

h3 {
    color: #053B62;
}

h4,
h5,
h6 {
    color: #707577;
}

section {
    background-color: #F2F6FD;
    color-scheme: only light;
}

.btn {
    background-color: #ebb55c;
}

.btn:hover {
    background-color: #FFCE7E;
}

.btn a {
    color: #000;
}

/* Info Panel */
#infoPanel {
    background: rgb(5, 59, 98);
}

/* Title */
#Title {
    background-color: #005996;
}

#Title h1 {
    color: #fff;
}

/* Address */
address a {
    color: #707577;
}

/* Apps Grid */
.EcoSystem {
    background-color: #005996;
    color: #fff;
}

.EcoSystem div h3 {
    color: #fff;
}