/* General */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@700;800&family=Josefin+Sans&family=Roboto:ital,wght@0,300;0,500;1,500;1,700&display=swap");
html {

}

body {
 margin: 0 auto;
 font-size: 16pt;
 font-family: "Josefin Sans", sans-serif;
 overflow-x: hidden;
}

h1 {
 font-size: 28pt;
}

h2 {
 font-size: 22pt;
}

h3 {
 font-size: 20pt;
}

p {
 font-family: "Roboto", sans-serif;
}

section {
 padding: 1em;
 margin: 0.3em;
 border-radius: 50px;
}

img.Icons {
 width: 16vw;
}

img.Icons-Small {
 width: 12vw;
}

.btn {
 border: none;
 border-radius: 25px;
 padding: 10px;
}

.btn a {
 text-decoration: none;
 font-size: 15pt;
}

.active {
	background-color: #bbb;
}

/* Map Box */
#map {
 position: absolute;
 top: 0px;
 bottom: 0px;
 width: 100%;
 z-index: -1;
}

#infoPanel {
 position: absolute;
 top: 60%;
 width: 100%;
 border-radius: 50px;
 z-index: 3;
}

#actionBar {
	width: 60%;
	height: 5px;
	background-color: #aaa;
	border-radius: 25px;
	margin: 10px auto; /* Center the bar */
}

/* Title */
#Title h1 {
 text-align: center;
 margin: 0 auto;
 font-size: 10vw;
}

.Availability {
    padding: 1em;
    background-color: #F2F6FD; /* Example background, adjust as needed */
    border-radius: 50px; /* Adjusted to match other sections */
}

.Availability h3 {
    color: #053B62;
    text-align: center;
}

.occupancy-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em; /* Adds space between the title and the numbers */
}

.Availability p {
    flex: 1; /* Ensures that each p tag takes up equal space */
    text-align: center;
    font-size: 1em; /* Adjust font size as needed */
    color: #707577; /* Example text color, adjust as needed */
    margin: 0; /* Removes default paragraph margins */
}

.Availability p span {
    font-size: 1.5em;
    font-weight: bold;
    display: block; /* Makes the number appear above the text */
}


/* Photo */
.Photo {
  overflow: hidden; /* Ensures the image does not spill out of the rounded corners */
  padding: 0 !important; /* Remove padding to allow the image to fill the entire section */
  height:200px;
}

.Photo img {
  width: 100%;
  height: 100%;
  top:50%;
  Left:50%;
  object-fit: cover; /* Maintain aspect ratio and cover the entire section */
}

/* Space Availability */
section.Availability p {
 text-align: center;
}

section.Availability p span {
 font-size: 16vw;
}

#Icons-Grid {
 display: grid;
 justify-content: space-evenly;
 grid-template-columns: 20% 20% 20% 20% 20%;
 gap: 5px;
 padding: 1vw;
 margin-top: 1em;
 text-align: center;
}

.Icons-Small img{
    width:50px;
}

/* Address */
address a {
 text-decoration: none;
 font-size: 28pt;
}

/* Rates */
.ParkingInfo em {
 font-size: 20px;
}

/* Apps Grid */
.EcoSystem {
 padding: 1em;
 margin: -5px;
 border-radius: 50px;
}

.EcoSystem div h3 {
 display: inline;
}

#Apps-Grid {
 display: grid;
 justify-content: space-evenly;
 grid-template-columns: 100%;
 gap: 5px;
 margin-top: 1em;
 text-align: center;
}

.App div {
 align-content: center;
}

.App div img {
 width: 50vw;
}

.App div p {
 font-size: 32pt;
 margin-top: 0;
}

.smalltxt {
 font-size: 9pt;
}

/* Amenities Table */
table #Amenities-Icons caption {
 caption-side: bottom;
 font-size: 12pt;
 margin-top: 10px;
}

table #Amenities-Icons {
 width: 100%;
 border-spacing: 2vw;
}

@media screen and (min-width: 650px) {
 h1 {
  font-size: 24pt;
 }

 h2 {
  font-size: 19pt;
 }

 h3 {
  font-size: 14pt;
 }

 img.Icons {
  width: 70px;
 }

 img.Icons-Small {
  width: 50px;
 }

 .btn a {
  font-size: 15pt;
 }

 #infoPanel {
  position: absolute;
  top: 70px;
  right: 10px;
  width: 350px;
 }
 
 #map {
 position: fixed;
}

 #Title h1 {
  font-size: 25pt;
 }

 section.Photo {
  height: 200px;
 }

 section.Availability p span {
  font-size: 30pt;
 }

 #Icons-Grid {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 20% 20% 20% 20% 20%;
  gap: 0px;
  padding: 2px;
  margin-top: 0;
  text-align: center;
 }

 address a {
  font-size: 20pt;
 }

 #Apps-Grid {
  display: grid;
  justify-content: space-evenly;
  gap: 50px;
  padding: 0;
  margin-top: 10px;
 }

 .App div img {
  width: 200px;
 }

 table #Amenities-Icons caption {
  margin-top: 10px;
 }

 table #Amenities-Icons {
  width: 100%;
  border-spacing: 2px;
 }
}
