/* General */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@700;800&family=Josefin+Sans&family=Roboto:ital,wght@0,300;0,500;1,500;1,700&display=swap");

body {
 margin: 0 auto;
 font-size: 16pt;
 font-family: "Josefin Sans", sans-serif;
 overflow-x: hidden;
}

h1 {
 font-size: 28pt;
}

h2 {
 font-size: 22pt;
}

h3 {
 font-size: 20pt;
}

p {
 font-family: "Roboto", sans-serif;
}

section {
 padding: 1em;
 margin: 0.3em;
 border-radius: 50px;
}

img.Icons {
 width: 16vw;
}

img.Icons-Small {
 width: 12vw;
}

button {
 border: none;
 border-radius: 25px;
 padding: 10px;
}

button a {
 text-decoration: none;
 font-size: 15pt;
}

a.AppButton {
 font-size: 10pt;
}

/* Logo */
#Logo {
 position: fixed;
 top: 5px;
 left: 5px;
}

/* Map Box */
#map {
 position: absolute;
 top: 0;
 bottom: 0;
 width: 100%;
 z-index: -1;
}

div.container2 {
 position: absolute;
 top: 75%;
 width: 100%;
 border-radius: 50px 50px 0px 0px;
}

/* Title */
#Title h1 {
 text-align: center;
 margin: 0 auto;
 font-size: 10vw;
}

/* Photo */
.Photo {
  overflow: hidden; /* Ensures the image does not spill out of the rounded corners */
  padding: 0 !important; /* Remove padding to allow the image to fill the entire section */
  height:350px;
}

.Photo img {
  width: 100%;
  height: 100%;
  top:50%;
  Left:50%;
  object-fit: cover; /* Maintain aspect ratio and cover the entire section */
}

/* Space Availability */
section.Availability p {
 text-align: center;
}

section.Availability p span {
 font-size: 16vw;
}

#Icons-Grid {
 display: grid;
 justify-content: space-evenly;
 grid-template-columns: 20% 20% 20% 20% 20%;
 gap: 5px;
 padding: 1vw;
 margin-top: 1em;
 text-align: center;
}

/* Address */
address a {
 text-decoration: none;
 font-size: 28pt;
}

/* Rates */
.ParkingInfo em {
 font-size: 20px;
}

/* Apps Grid */
.EcoSystem {
 padding: 1em;
 margin: -5px;
 border-radius: 50px;
}

.EcoSystem div h3 {
 display: inline;
}

#Apps-Grid {
 display: grid;
 justify-content: space-evenly;
 grid-template-columns: 50% 50%;
 gap: 5px;
 margin-top: 1em;
 text-align: center;
}

.App div {
 align-content: center;
}

.App div img {
 width: 32vw;
}

.App div p {
 font-size: 32pt;
 margin-top: 0;
}

.smalltxt {
 font-size: 9pt;
}

/* Amenities Table */
table.Amenities-Icons caption {
 caption-side: bottom;
 font-size: 12pt;
 margin-top: 10px;
}

table.Amenities-Icons {
 width: 100%;
 border-spacing: 2vw;
}

@media screen and (min-width: 933px) {
 h1 {
  font-size: 24pt;
 }

 h2 {
  font-size: 19pt;
 }

 h3 {
  font-size: 14pt;
 }

 img.Icons {
  width: 70px;
 }

 img.Icons-Small {
  width: 50px;
 }

 button a {
  font-size: 15pt;
 }

 a.AppButton {
  font-size: 15pt;
 }

 div.container2 {
  position: absolute;
  top: 60px;
  right: 10px;
  width: 350px;
 }
 
 #map {
 position: fixed;
}

 #Title h1 {
  font-size: 25pt;
 }

 section.Photo {
  height: 200px;
 }

 section.Availability p span {
  font-size: 30pt;
 }

 #Icons-Grid {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 20% 20% 20% 20% 20%;
  gap: 5px;
  padding: 2px;
  margin-top: 0;
  text-align: center;
 }

 address a {
  font-size: 20pt;
 }

 #Apps-Grid {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 100%;
  gap: 50px;
  padding: 0;
  margin-top: 10px;
 }

 .App div img {
  width: 200px;
 }

 table.Amenities-Icons caption {
  margin-top: 10px;
 }

 table.Amenities-Icons {
  width: 100%;
  border-spacing: 2px;
 }
}
